body {
  overflow: hidden;
  background-color: black;
  color: green;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: 'Roboto';
  font-size: 28px;
}

h2 {
  color: white;
  font-size: 48px;
}
h3 {
  color: white;
  font-size: 36px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0; bottom: 0;
  left: 0;
  right:0;
}

.btn-yellow {
  background: rgb(250, 255, 140);
  color: #574500;
  border: none;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; /* !important tags aren't necessarily always bad */
}
.btn-yellow:hover, .btn-yellow:focus {
  background: rgb(252, 255, 179);
}
.btn-yellow:active {
  background: rgb(247, 255, 71);
}
.btn-xxl {
  padding: 20px 26px;
  font-size: 35px;
  border-radius: 8px;
}

.badge-pill-xxl {
  padding: 20px 26px;
  font-size: 24px;
  border-radius: 48px;
}
